body {
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.one img {
    width: 100%;
}

.one {
    display: none;
}

.slideShow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgb(221, 39, 39);
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;
}

#container {
    width: 100%;
    margin: 0px auto;
}

header {
    
    height: 230px;
    background-image: url(images/dau.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
}


nav {
    width: 100%;
    height: 70px;
    background-color: lightskyblue;
    font-variant: small-caps;
    text-align: center;
}
 nav>ul{
    background-color: lightskyblue;
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}  nav > ul >li{
display: inline;
line-height: 70px;

} 
.menu{
    margin: 0;
    padding: 0;
    border-radius: 5px;
    list-style: none;
    background-color: lightskyblue;
    height: 40px;
}
/* .menu>li>a{
    /* display: block;
    line-height: 40px;
    text-decoration: none;
    padding-left: 25px;
    color: rgb(131, 112, 112);
    
}/*
.menu>li>a:hover{
    
    font-weight: bolder;
    background-color: white;
    color: red;
    padding: 12px 15px 13px;
    border-radius: 10px;
}
.menu>li{
   float: left;
   margin: 0 5px;
   position: relative;
}
.menu>li:hover>.sub-menu{
   display: block;
}
.sub-menu{
   margin: 0;
   padding: 0;
   border-radius: 5px;
   box-shadow: 0 0 5px orangered;
   list-style: none;
   width: 150px;
   position: absolute;
   display: none;
}
.sub-menu>li>a{
   display: block;
   line-height: 30px;
   border-bottom: 1px solid red;
   text-decoration: none;
   padding-left: 0px;
   color: red;
}
.sub-menu>li>a:hover{
   color: red;
   font-weight: bolder;
} */
  nav a {
    transition: 0.5s;
    color: white;
    padding: 0px 15px;
    text-decoration: none;
}  

 nav a:hover {
    background-color: white;
    color: red;
    padding: 12px 15px 13px;
    border-radius: 10px;
    
} 
nav li{
    position: relative;
}
.sub-menu{
    list-style: none;
    width: 150px;
    position: absolute;
    background-color: lightskyblue;
    width: 100%;
    display: none;

}
.sub-menu>li>a{
display: block;
line-height: 30px;
text-decoration: none;
font-variant: small-caps;
}
.sub-menu>li>a:hover{
    color: red;
    font-weight: bolder;
} */

article {
    margin-top: 5px;
    padding-bottom: 20px;
    min-height: 400px;
    width: 70%;
    background: white;
    float: left;
}
aside{
    margin-top: 5px;
    padding-bottom: 20px;
    min-height: 390px;
    width: 25%;
    background: white;
    float: left;
}
ul.vmenu{
    list-style-type: none;
    padding: 0;
    margin: 5px;
    box-shadow: 0 0 5px orangered;
    border-radius: 10px;
 }
 ul.vmenu>li{
     border-bottom: 1px dotted green;
 }
 ul.vmenu>li>a{

     text-decoration: none;
     line-height: 30px;
     color: orangered;
     padding-left: 25px;
     font-variant: small-caps;
     background: url('3.jpg') no-repeat left center;

 }
 ul.vmenu>li>a:hover{
     text-decoration: underline;
     color: yellow;
     display: block;
     background: url('/images/3.jpg') no-repeat left center;
     background-color: orchid;
 }

.active {
    background-color: white;
    color: red;
    padding: 12px 15px 13px;
}

article p {
    margin: 10px 0px;
    
}

#error {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#hinh {
    width: 100%;
    height: 100%;
}

.clear {
    clear: both;
}

footer {
    height: 200px;
    max-height: 200px;
    background: lightskyblue;
    color: white;
}

.ft1 {
    width: 25%;
    height: 100%;
    background-image: url(images/logo.png);
    background-position: center center;
    background-size: 150px;
    background-repeat: no-repeat;
    float: left;
}

.ft2 {
    width: 75%;
    height: 100%;
    float: left;
}
.anh{
    width: 25%;
    height: 50px;
    float: left;
}
.ne{
    color: red;
    font-size: 30px;
    width: 200px;
    height: 300px;
}

